.menu {
  height: 100%;
  width: 15%;
  background-color: #4a3277;
}

.menu__logo {
  width: 16%;
  height: 15%;
  height: auto;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
}

.menu__logoBlanc {
  width: 15%;
  height: 44%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
}
