.welcome {
  height: 100%;
  width: 100%;
}

.welcome__fond {
  height: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
}

.welcome__Trait1 {
  height:90%;
  position: fixed;
  bottom: 0px;
  right: 22%;
}
