
<div class="menu">
 <img class="menu__logoBlanc" src="img/logoBlanc.svg">

  </a>
  <div class="menu_options" id="menu">
    <a class="menu_optionsText menu__Rea" href="./home.html">Nos Réalisations
    </a>
    <a class="menu_optionsText menu__Rea" href="./part.html">Nos Partenaires
    </a>
    <a class="menu_optionsText menu__Rea" href="./fourn.html">Nos Fournisseurs
    </a>
    <a class="menu_optionsText menu__Contact" href="./contact.html">Contact
    </a>
    </div>
</div>
