@import 'blocs/header';
@import 'blocs/footer';
@import 'reset';
@import 'blocs/annimation';
@import 'blocs/menu';


@font-face {
 font-family: "AlteBold";
 src: url("../fonts/AlteHaasGroteskBold.ttf") format("truetype");
}
@font-face {
 font-family: "AlteRegular";
 src: url("../fonts/AlteHaasGroteskRegular.ttf") format("truetype");
}

body {
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
}

* {
  border-sizing: border-box;
}
