@import 'blocs/header';
@import 'blocs/footer';
@import 'reset';
@import 'blocs/annimation';
@import 'blocs/menu';
@import 'blocs/welcome';

@font-face {
 font-family: "AlteBold";
 src: url("../fonts/AlteHaasGroteskBold.ttf") format("truetype");
}
@font-face {
 font-family: "AlteRegular";
 src: url("../fonts/AlteHaasGroteskRegular.ttf") format("truetype");
}
@font-face {
 font-family: "River";
 src: url("../fonts/riverave.ttf") format("truetype");
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

html {
  height: 100%;
  font-family: "River";
}

* {
  border-sizing: border-box;
}
